.container {
    text-align: center;
    vertical-align: center;
    color: #fff;
}

.container h1 {
    font-size: 60px;
}

.loginButton {
    padding: 10px 15px;
    background-color: rgb(0, 183, 255);
    color: #fff;
    font-size: 20px;
}